<div id="<%= dom_id insurance_provider %>">
  <p>
    <strong>Name:</strong>
    <%= insurance_provider.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= insurance_provider.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= insurance_provider.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= insurance_provider.city %>
  </p>

  <p>
    <strong>Province or state:</strong>
    <%= insurance_provider.province_or_state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= insurance_provider.country %>
  </p>

</div>
