<div id="<%= dom_id lab_test %>">
  <p>
    <strong>Category:</strong>
    <%= lab_test.category %>
  </p>

  <p>
    <strong>Unit of measurement:</strong>
    <%= lab_test.unit_of_measurement %>
  </p>

  <p>
    <strong>Min ref value:</strong>
    <%= lab_test.min_ref_value %>
  </p>

  <p>
    <strong>Max ref value:</strong>
    <%= lab_test.max_ref_value %>
  </p>

</div>
